# Ignore Python cache and virtual environments
__pycache__/
*.py[cod]
*.pyo
.env/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore compiled binaries
*.exe
*.out
*.dll

# Ignore directories
cobra-demo/