# Ignore Python cache and virtual environments
__pycache__/
*.py[cod]
*.pyo
.env/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
*.txt

# Ignore compiled binaries
*.exe
*.out
*.dll

# Ignore directory
/cobra_demo
/mem_logs
/output
/__pycache__/


# Ignore specific files
bash.exe.stackdump
cobra_driver_status_only_dual_head.py
cobra_driver_status_only_single_head.py
status_test.py
#test_loop_debug.py